﻿@model BirthdayPartyService.Web.Models.BirthdayServiceViewModel

@{
    ViewData["Title"] = "BirthdayServicesIndex";
}

<h2>Birthday party services official webpage</h2>

<p style="color:mediumvioletred">@TempData["editResult"]</p>

@await Html.PartialAsync("BirthdayServicesEdit", Model.EditedService)

@await Html.PartialAsync("BirthdayServicesList", Model.ListOfServices)