﻿@model BirthdayPartyService.Web.Models.BirthdayService

<h2>Birthday service Editor</h2>

@using (Html.BeginForm("Edit", "BirthdayServices"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.ServiceName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.ServiceName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Price)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Price)</div>

    <div class="editor-label">@Html.LabelFor(m => m.MinAge)</div>
    <div class="editor-field">@Html.EditorFor(m => m.MinAge)</div>

    <div class="editor-label">@Html.LabelFor(m => m.MaxAge)</div>
    <div class="editor-field">@Html.EditorFor(m => m.MaxAge)</div>

    <div class="editor-label">@Html.LabelFor(m => m.IsIndoor)</div>
    <div class="editor-field">@Html.EditorFor(m => m.IsIndoor)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Recommendation)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Recommendation)</div>

    <input type="submit" value="SEND" />
}