﻿@model BirthdayPartyService.Web.Models.BirthdayService

@{ 
    ViewData["Title"] = "BirthdayServicesDetails";
}

<h2>Datasheet of one birthday party service</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.ServiceName)</td>
        <td>@Html.DisplayFor(m => m.ServiceName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Price)</td>
        <td>@Html.DisplayFor(m => m.Price)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.MinAge)</td>
        <td>@Html.DisplayFor(m => m.MinAge)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.MaxAge)</td>
        <td>@Html.DisplayFor(m => m.MaxAge)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.IsIndoor)</td>
        <td>@Html.DisplayFor(m => m.IsIndoor)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Recommendation)</td>
        <td>@Html.DisplayFor(m => m.Recommendation)</td>
    </tr>
</table>