﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><h2>Hey there, you are seeing Tóth Boglárka's prog4 homework.</h2></p>
    <h3><a href="/BirthdayServices">Click here to see my homework 2!</a></h3>
</div>

<h2>API CRUD HW</h2>

<p id="message" style="color:red;font-weight:bold"></p>
<ul id="services"></ul>
Service ID:
<input type="text" id="serviceId" />
<br /><br />
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST NEW</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<button onclick="doDel()">DEL</button>

@section scripts {
    <script language="javascript">
        var url = "http://localhost:62385/BirthdayServicesApi/";

        // XSS = Cross Site Scripting
        function htmlEncode(value) {
            return $('<div />').text(value).html();
        }

        function doList() {
            $.get(url + "all", null, function (data, status, jqxr) {
                alert("ALL: " + data);
            }, "html");
        }

        function doListNEW() {
            $("#services").html("");
            $.getJSON(url + "all")
                .done(function (data) {
                    $.each(data, function (key, item) {
                        var html = "<li>#" +
                            htmlEncode(item.id) + " " +
                            htmlEncode(item.serviceName) + "- Price: " +
                            htmlEncode(item.price) + " USD. Recommended for kids between " +
                            htmlEncode(item.minAge) + " and " +
                            htmlEncode(item.maxAge) + ". Rating: " +
                            htmlEncode(item.recommendation) + "/10. Can be held indoor: " +
                            htmlEncode(item.isIndoor) +"</li>";
                        $("#services").append(html);
                    });
                });
        }

        function doAdd() {
            var newService = {
                "serviceName": "Test new service", "price": "160", "minAge": "5", "maxAge": "16", "recommendation": "7", "isIndoor": "true"
            };
            $.post(url + "add", newService, function (data, status, jqxr) {
                $("#message").html("ADD: " + data.operationResult);
                doListNEW();
            });
        }
        function doMod() {
            var newService = {
                "Id": $("#serviceId").val(), "serviceName": "Renewed great service", "price": "190", "minAge": "4", "maxAge": "16", "recommendation": "10", "isIndoor": "true"
            };
            $.post(url + "mod", newService, function (data, status, jqxr) {
                $("#message").html("MOD: " + data.operationResult);
                doListNEW();
            });
        }
        function doDel() {
            $.get(url + "del/" + $("#serviceId").val(), null, function (data, status, jqxr) {
                $("#message").html("DEL: " + data.operationResult);
                doListNEW();
            });
        }
    </script>
}